/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	model = "Raumfeld Cube (AM33xx)";
	compatible = "ti,am335x-raumfeld-cube", "ti,am33xx";

	chosen {
		bootargs = "console=ttyO0,115200n8";
	};

	am3358_pinmux: pinmux@44e10800 {
		spi0_pins: pinmux_spi0_pins {
			pinctrl-single,pins = <
				0x150 0x28	/* SPI0_CLK */
				0x154 0x18	/* SPI0_D0  */
				0x158 0x38	/* SPI0_D1  */
				0x15C 0x18	/* SPI0_CS0 */
			>;
		};

		i2c3_pins: pinmux_i2c3_pins {
			pinctrl-single,pins = <
				0x178 0x23	/* I2C2_SDA */
				0x17c 0x23	/* I2C2_SCL */
			>;
		};

		led_pins: pinmux_led_pins {
			pinctrl-single,pins = <
				0x80 0x7	/* GPIO1_30 */
				0x84 0x7	/* GPIO1_31 */
			>;
		};

		button_pins: pinmux_button_pins {
			pinctrl-single,pins = <
				0xdc 0x77	/* GPIO0_11 */
				0x3c 0x77	/* GPIO1_15 */
			>;
		};

		audio_pins: audio_pins_multichannel {
			pinctrl-single,pins = <
				0x1ac 0x28	/* MCASP0_MCLK_OUT */
				0x190 0x08	/* MCASP0_BCLK_OUT */
				0x194 0x08	/* MCASP0_WCLK_OUT */
				0x198 0x08	/* MCASP0_DATA_OUT */
				0x1a8 0x28	/* MCASP0_DATA_IN  */
				0x078 0x26	/* MCASP0_BCLK_IN  */
				0x1a4 0x28	/* MCASP0_WCLK_IN  */
				0x19c 0x28	/* MCASP0_MCLK_IN  */
				0x1a0 0x27	/* MCASP0_BCLK_IN -> GPIO */

				0xd0  0x04	/* lcd_data12 -> MCASP0_AXR2 (LCD_DATA12) - out */
				//0xd4  0x04	/* lcd_data13 -> MCASP0_AXR3 (LCD_DATA13) - out */
				//0xd8  0x03	/* lcd_data14 -> MCASP0_AXR1 (LCD_DATA14) - out */

				0x40 0x3f	/* gpmc_a0.-> gpio1_16, - (overtemperrature) - in*/
				0x4c 0x7	/* gpmc_a3.-> gpio1_19, - (/reset) - out*/
				0x58 0x3f	/* gpmc_a6.-> gpio1_22, - (shutdown) - in*/
			>;
		};
	};

	ocp {
		uart1: serial@44e09000 {
			status = "okay";
		};

		i2c@44e0b000 {
			status = "okay";
		};

		i2c@4802a000 {
			status = "okay";
		};

		i2c@4819c000 {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c3_pins>;
			clock-frequency = <100000>;

			tas5086: tas5086@27 {
				compatible = "ti,tas5086";
				reg = <0x1b>;
				reset-gpio = <&gpio1 19 0>;
				vd-supply = <&vdd_audio>;
			};
		};

		leds {
			compatible = "gpio-leds";
			pinctrl-names = "default";
			pinctrl-0 = <&led_pins>;

			d1 {
				label = "raumfeld:1";
				gpios = <&gpio3 4 0>;
			};

			d2 {
				label = "raumfeld:2";
				gpios = <&gpio3 10 0>;
				default-state = "on";
			};
		};

		gpio-keys {
			compatible = "gpio-keys";
			pinctrl-names = "default";
			pinctrl-0 = <&button_pins>;

			setup {
				label = "Setup";
				gpios = <&gpio2 18 1>;
				linux,code = <141>; /* KEY_SETUP */
				gpio-key,wakeup;
			};

			reset {
				label = "Reset";
				gpios = <&gpio1 9 1>;
				linux,code = <61>; /* KEY_F3 */
				gpio-key,wakeup;
			};

			power {
				label = "Power";
				gpios = <&gpio0 6 1>;
				linux,code = <116>; /* KEY_POWER */
				gpio-key,wakeup;
			};

			vol-up {
				label = "Volume UP";
				gpios = <&gpio0 11 1>;
				linux,code = <115>; /* KEY_VOLUMEUP */
				gpio-key,wakeup;
			};

			vol-down {
				label = "Volume DOWN";
				gpios = <&gpio1 15 1>;
				linux,code = <114>; /* KEY_VOLUMEDOWN */
				gpio-key,wakeup;
			};
		};

		usb@47400000 {
			status = "okay";
			port0-mode = <1>;
		};

		mcasp@48038000 {
			status = "okay";
			op-mode = <0>;	  /* MCASP_IIS_MODE */
			tdm-slots = <2>;
			num-serializer = <16>;
			serial-dir = <  1 2 1 0 /* 0: INACTIVE, 1: TX, 2: RX */
					0 0 0 0
					0 0 0 0
					0 0 0 0 >;
			tx-num-evt = <1>;
			rx-num-evt = <1>;
		};

		ak5386: ak5386@0 {
			compatible = "asahi-kasei,ak5386";
			/* reset-gpio = <&gpio1 19 0>; */
		};
	};

	audio {
		compatible = "sue,am33xx-generic-audio";
		pinctrl-names = "default";
		pinctrl-0 = <&audio_pins>;
		sue,card-name = "Cube";
		clocks = <&si5351a 0>;

		link@0 {
			sue,name = "analog output";
			sue,stream-name = "I2S";

			sue,platform = <&mcasp0>;
			sue,cpu-dai-name = "48038000.mcasp";

			sue,codec = <&tas5086>;
			sue,codec-dai-name = "tas5086-hifi";
		};

		link@1 {
			sue,name = "analog input";
			sue,stream-name = "I2S";

			sue,platform = <&mcasp0>;
			sue,cpu-dai-name = "48038000.mcasp";

			sue,codec = <&ak5386>;
			sue,codec-dai-name = "ak5386-hifi";
		};
	};

	vdd_audio: vdd_audio_regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd-audio";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio1 18 0>;
		enable-active-high;
		regulator-boot-on;
	};
};

&cpsw_emac0 {
	phy_id = <&davinci_mdio 4>;
};
