#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Exec=/usr/share/raumfeld-test/ssh-terminal.sh
Name[en_US]=Network connection
Name=Network connection
Icon=gnome-panel-launcher
