
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Exec=/usr/share/raumfeld-test/sync.sh
Name[en_US]=Raumfeld sync
Name=Raumfeld sync
Icon=gnome-panel-launcher
