# Rules for usbmount

KERNEL=="sd*", SUBSYSTEMS=="usb", ACTION=="add",    RUN+="/usr/bin/raumfeld-usbmount add"
KERNEL=="sd*", SUBSYSTEMS=="usb", ACTION=="remove", RUN+="/usr/bin/raumfeld-usbmount remove"
