# Rules for usbmount

KERNEL=="sd*", SUBSYSTEM=="block", ACTION=="add",    RUN+="/usr/bin/raumfeld-usbmount add"
KERNEL=="sd*", SUBSYSTEM=="block", ACTION=="remove", RUN+="/usr/bin/raumfeld-usbmount remove"
